config owsd 'global'
	option sock '/var/run/ubus.sock'
	option www '/www'

config owsd-listen 'loopback'
	option port '80'
	option interface 'loopback'
	option ipv6 'off'
	list origin '*'

config owsd-listen 'lan'
	option port '80'
	option interface 'lan'
	option ipv6 'off'
	option ipv6only 'off'
	option whitelist_interface_as_origin '1'
	option whitelist_dhcp_domains '1'

